@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC';
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  font-size: 10px;
  color: #555;
  font-family: 'Noto Sans TC',Arial,Helvetica, sans-serif;
  line-height: 22px;
  letter-spacing: 1px; }

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1; }

.clearfix:after {
  /* FF, IE8, O, S, etc. */
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

.clear {
  clear: both; }

.kv {
  background: #222; }
  .kv .codrops-header {
    color: #ff5d4b;
    letter-spacing: 2px;
    font-size: 3.6rem;
    line-height: 42px; }
    .kv .codrops-header h1 .cute-shot {
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
      transform: scale(0.6); }
    .kv .codrops-header span {
      color: #ea6657;
      opacity: .5; }
