@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
	font-family: 'Noto Sans TC';
	box-sizing: border-box;
  }
body,html{
	font-size:10px;
	color:#555;
	font-family: 'Noto Sans TC',Arial,Helvetica, sans-serif;;
	// font-family:Arial,'微軟正黑體', Helvetica, sans-serif;
	line-height:22px;
	letter-spacing: 1px;
	}
.wrapper{
	width:100%;
	overflow:hidden;
	position:relative;
	z-index:1;
	}
.clearfix:after { /* FF, IE8, O, S, etc. */
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
	}
.clearfix{
	zoom:1;
	}
.clear{
	clear:both;
	}
