@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
	font-family: 'Noto Sans TC';
  }
body{
	font-size:13px;
	color:#555;
	// font-family:Arial,'微軟正黑體', Helvetica, sans-serif;
	line-height:22px;
	}

.wrapper{
	width:100%;
	overflow:hidden;
	position:relative;
	z-index:1;
	}
.clearfix:after { /* FF, IE8, O, S, etc. */
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
	}
.clearfix{
	zoom:1;
	}
.clear{
	clear:both;
	}
.fleft{
	float:left;
	}
.fright{
	float:right;
	}
.finger{
	cursor: pointer;
}
.center{
	text-align: center;
}
.inline_block{
	display: inline-block;
}

/*垂直置中*/
.img_link{
/*width:185px;
height:185px;*/
text-align:center;
}

.img_link img{
display:inline-block;
vertical-align:middle;
/*max-width:185px;
max-height:185px;*/
}

.img_link:after{
content:'';
}

.img_link:after, .img_link>span{
	display:inline-block;
	width:0px;
	height:100%;
	vertical-align:middle;
}


/*自訂義下拉選單*/
.slide_box{
	position:relative;
	z-index:1;
	}
.custom_box{
	display:none;
	position:absolute;
	top:42px;
	left:0px;
	z-index:10;
	}
.slide_box .show{
	cursor:pointer;
	}

/*黑白*/
.gray{ 
-webkit-filter: grayscale(100%); 
-moz-filter: grayscale(100%); 
-ms-filter: grayscale(100%); 
-o-filter: grayscale(100%); 
filter: grayscale(100%); 
filter: gray; 
position:relative;
z-index:5;
 opacity:1;
 /*filter:alpha(opacity=100);*/
 transition:opacity 1s;
 behavior:url(js/PIE.htc);
}
::selection{
	// background: #f4bfbf;
	background: #ffea00;
	color: rgb(0, 0, 0);
}

.scrollToTop {
    width: 55px;
    height: 55px;
    background: url(../images/both/gotop.png) no-repeat;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.8;
	
	transition: .5s;
	z-index: 10;
	@media screen and (max-width: 750px){
		bottom: 50px;
	}
	/* -webkit-animation: 2s infinite; */
/*     -o-transition: color .20s ease, background-color .20s ease, border-color .20s ease, opacity .20s ease;
    -webkit-transition: color .20s ease, background-color .20s ease, border-color .20s ease, opacity .20s ease;
    -moz-transition: color .20s ease, background-color .20s ease, border-color .20s ease, opacity .20s ease;
    transition: color .20s ease, background-color .20s ease, border-color .20s ease, opacity .20s ease; */
}
.scrollToTop:hover{
	opacity: 1;
	background: url(../images/both/gotop2.png) no-repeat;
}

.myResume{
	background: rgba(0,0,0,0.8);
	border-radius: 0px 0px 5px 5px;
	padding: 7px 10px;
	position: fixed;
	bottom: 30%;
	right: -60px;
	transform: rotate(90deg);
	@media screen and (max-width: 1025px){
		right: -65px;
	}
	@media screen and (max-width: 750px){
		border-radius: 0px;
		text-align: center;
		padding: 15px 0px;
		width: 100%;
		bottom: 0%;
		right: 0;
		transform: rotate(0deg);
	}
	a{
		color: #fff;
		letter-spacing: 3px;
		font-weight: 100;
		transition: .8s;
		@media screen and (max-width: 1025px){
			font-size: 14px;
		}
		@media screen and (max-width: 750px){
			padding: 0 100px;
		}
		&:hover{
			color: #ffea00;
			transition: .8s;
		}
	}
}
/*---------------------------------------*/
.mar_t_5{
	margin-top: 5px;
}

mark{
	background-color: #ffea00;
	color: #000;	
}