.kv {
    width: 100vw;
    height: 100vh;
    padding: 5% 10%;
    background: url(../images/both/kv2.png)no-repeat left bottom;

    .content {
        .sign {
            width: 50%;
        }

        .introduce {
            width: 50%;
        }

        .line-box {
            border-left: 1px solid #ccc;
        } 

        .tool-box {
            .toolimg {
                width: 50px;
                transition: .2s;
                &:hover {
                    transform: scale(1.1);
                    transition: .2s;
                }
            }
        }
    }
}